.LoadingScreen {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.LoadingScreen div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: grey;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.LoadingScreen div:nth-child(1) {
    left: 8px;
    animation: LoadingScreen1 0.6s infinite;
}
.LoadingScreen div:nth-child(2) {
    left: 8px;
    animation: LoadingScreen2 0.6s infinite;
}
.LoadingScreen div:nth-child(3) {
    left: 32px;
    animation: LoadingScreen2 0.6s infinite;
}
.LoadingScreen div:nth-child(4) {
    left: 56px;
    animation: LoadingScreen3 0.6s infinite;
}
@keyframes LoadingScreen1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes LoadingScreen3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes LoadingScreen2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
