.Workout {
    width: 288px;
    height: 280px;
    box-shadow: 0px 1px 2px 0px rgba(46, 49, 52, .4);
    border-radius: 4px;
    margin: 9px;
}

.thumb-img {
    width: 288px;
    height: auto;
    border-radius: 4px 4px 0 0;
}

.selected {
    box-shadow: 0px 7px 12px 0px rgba(46, 49, 52, 30);
}

.info-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

h2 {
    font-size: 16px;
    font-weight: 700;
    color: #2E3134;
    margin: 0 10px 0 0;
    text-align: left;
}

.trainer-img {
    width: 28px;
    height: 28px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.stats-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.stats {
    font-size: 10px;
    font-weight: 700;   
    display: flex;
}

.duration-container {
    display: flex;
    margin-right: 5px;
}

.distance-container {
    display: flex;
}

.duration-container img,
.distance-container img {
    margin-right: 5px;
}

.stats-container a {
    font-size: 14px;
    font-weight: 700;
    color: #0069D2;
}