.Workout {
    list-style: none;
    width: 288px;
    height: 280px;
    box-shadow: 0px 1px 2px 0px rgba(46, 49, 52, 0.4);
    border-radius: 4px;
    margin: 12px;
    position: relative;
    transition: all 0.3s;
}

p {
    margin: 5px 0;
}

.thumb-img {
    width: 288px;
    height: auto;
    border-radius: 4px 4px 0 0;
}

.playlist-overlay {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 12, 40, 0.54);
    width: 112px;
    height: 164px;
    color: white;
    font-weight: 700;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playlist-overlay span {
    font-size: 20px;
}

.playlist-overlay p {
    margin: 10px 0 12px;
}

.selected {
    box-shadow: 0px 7px 12px 0px rgba(46, 49, 52, 0.3);
}

.info-container {
    padding: 5px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 111px;
}

h2 {
    font-size: 16px;
    font-weight: 700;
    color: #2e3134;
    margin: 0 10px 0 0;
    text-align: left;
}

.trainer-img {
    width: 28px;
    height: 28px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.stats-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.stats {
    font-size: 10px;
    font-weight: 700;
    display: flex;
}

.duration-container {
    display: flex;
    margin-right: 5px;
}

.distance-container {
    display: flex;
}

.duration-container img,
.distance-container img {
    margin-right: 5px;
}

.link-container {
    opacity: 0;
    text-align: left;
    transition: 0.3s;
}

.Workout.selected .link-container {
    opacity: 1;
}

.link-container a {
    font-size: 14px;
    font-weight: 700;
    color: #0069d2;
    text-align: left;
    text-decoration: none;
    transition: 0.3s;
}

.link-container a:hover {
    color: #3089e2;
}
